DOMAIN_NAME=login.42.fr

MYSQL_DATABASE=database_name
MYSQL_USER=database_user
MYSQL_PASSWORD=database_password
MYSQL_ROOT_PASSWORD=database_root_password

WP_TITLE=Website_Title
WP_ADMIN_USER=admin_username_without_admin_word
WP_ADMIN_PASSWORD=strong_password
WP_ADMIN_EMAIL=email@domain.com

WP_USER=author_username
WP_USER_PASSWORD=author_password
WP_USER_EMAIL=author@domain.com